@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300;400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Be Vietnam', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Primary */

  --clr-bright-red: hsl(12, 88%, 59%);
  --clr-dark-blue: hsla(228, 39%, 23%, 1);
  --clr-dark-blue-semi-transparent: hsla(228, 39%, 23%, 0.5);

  /* Neutral  */

  --clr-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-very-dark-blue: hsl(233, 12%, 13%);
  --clr-gray-asphalt: hsla(0, 0%, 55%, 1);
  --clr-very-pale-red: hsl(13, 100%, 96%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-white-gray: hsla(9, 54%, 97%, 1);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(228, 13%, 13%, 1);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark-blue-semi-transparent);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-40);
  font-weight: var(--fw-bold);
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--clr-dark-blue);
}

.title--medium {
  font-size: var(--fs-30);
  line-height: 1.5;
}

.title--medium-big {
  font-size: var(--fs-32);
}

.title--accent {
  color: var(--clr-white);
}

.text {
  line-height: 2;
  font-weight: var(--fw-light);
}

.ft__number {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
}

.ft__title,
.card__name {
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);
}

.ft__copy {
  line-height: 2;
  font-size: var(--fs-14);
}

.card__quote {
  font-size: var(--fs-14);
  line-height: 1.85;
}

.copyright-text {
  font-size: var(--fs-13);
  letter-spacing: -0.2px;
}

/* ================== */
/* Links */
/* ================== */

.nav-link:link {
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-dark-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-dark-blue-semi-transparent);
}

.ft__link:link {
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  letter-spacing: -0.23px;
}

.ft__link:hover,
.ft__link:focus {
  color: var(--clr-bright-red);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  text-decoration: none;
  background-color: var(--clr-bright-red);
  color: var(--clr-white-gray);
  font-weight: var(--fw-bold);
  font-size: var(--fs-13);
  padding: 1em 2.4em;
  display: inline-block;
  border-radius: 2em;
  box-shadow: 0px 6px 10px 3px hsla(12, 88%, 59%, 0.3);
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
  box-shadow: 0px 6px 10px 6px hsla(12, 88%, 59%, 0.3);
}

.btn--accent {
  background-color: var(--clr-white);
  color: var(--clr-bright-red);
  box-shadow: none;
}

.btn--accent:hover,
.btn--accent:focus {
  opacity: 0.5;
  box-shadow: none;
}

.btn--form {
  border: var(--clr-bright-red);
  padding: 1.1em 2.4em;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 2em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header-logo-and-nav-container {
  margin-top: 2.8125em;
}

.header__row {
  display: flex;
  place-content: center space-between;
}

.header__row .logo {
  padding-top: 0.25em;
}

.header__row .logo img {
  width: 110px;
  height: 18px;
}

.open-nav-btn {
  border: none;
  background: transparent;
}

.nav {
  display: none;
}

/* HERO */
.hero {
  margin-top: 3em;
  /* Flex */
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1.25em;
}

.hero__copy-area .text {
  margin-top: 0.5em;
}

.hero__copy-area .btn {
  margin-top: 1.8125em;
}

.hero__ill-area {
  /* Flex */
  order: -1;
}

/* MAIN */

.main {
  margin-top: 6em;
}

/* FEATURES */

.features {
  display: flex;
  flex-direction: column;
}

.features__copy {
  padding: 0 1.5em;
}

.features__copy .title {
  margin: 0 auto;
  width: 80%;
}

.features__copy .text {
  margin-top: 0.8125em;
}

.features__list {
  margin-top: 3.375em;
  list-style: none;
  /* Flex */
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.ft {
  margin-left: 1em;
}

.ft__info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background: var(--clr-very-pale-red);
  padding: 0.4em 0;
}

.ft__number {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--clr-bright-red);
  padding: 0.4em 1em;
  border-radius: 2em;
}

.ft__title {
  margin-left: 4em;
}

.ft__copy {
  margin-top: 0.5em;
  margin-right: 1.5em;
  text-align: left;
}

/* TESTIMONIALS */
.testimonials {
  margin-top: 4em;
}

.cards {
  margin: 4em 1em 0;
}

.card {
  display: none;
  background: var(--clr-very-light-gray);
  text-align: center;

  position: relative;

  padding: 3.75em 1.3125em 2.625em;
}

.card.visible {
  display: block;
}

.card__avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
}

.card__quote {
  margin-top: 1.25em;
}

.cards__guide {
  margin-top: 1.625em;

  display: flex;
  place-content: center;
  gap: 0.3em;
}

.circle {
  width: 7px;
  height: 8px;
  border: 1px solid var(--clr-bright-red);
  border-radius: 50%;
}

.circle.active {
  background: var(--clr-bright-red);
}

.testimonials .btn {
  margin-top: 3em;
}

/* CTA AREA */
.cta-area {
  margin-top: 2.625em;
  background: var(--clr-bright-red) url('./images/bg-simplify-section-mobile.svg')
    no-repeat;
  background-position: left center;
  padding: 5.7em 2em;
}

.cta-area .btn {
  margin-top: 1.75em;
}

/* FOOTER */

.footer {
  background: var(--clr-black);
  padding: 0 1.5em;
}

.footer__elements {
  padding-top: 3.1875em;

  display: grid;
  grid-template-rows: auto;
  gap: 3.125em;
}

.ft__form {
  display: flex;
  place-content: center space-between;
  gap: 0.5em;
}

.form-input-cta {
  width: 100%;
  border: none;
  border-radius: 2em;
  padding: 0 1.5em;
}

.form-input-cta::placeholder {
  color: var(--clr-gray-asphalt);
  font-size: var(--fs-13);
}

.error-message {
  display: none;
}

.ft__links {
  display: flex;
  place-content: center space-between;
  padding: 0 3em 0 3em;
}

.ft__list {
  text-align: left;
  line-height: 2;
}

.ft__logo-and-socials {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 3.375em;

  margin: 0 1em;
}

.ft__logo-and-socials .logo {
  width: 100%;
}

.ft__logo-and-socials .logo svg {
  width: 158px;
  height: 26px;
  margin: 0 auto;
}

.ft__logo-and-socials .logo svg .text-logo {
  fill: var(--clr-white);
}

.ft__logo-and-socials .socials-list {
  order: -1;

  display: flex;
  place-content: center space-between;
}

.social-link:link svg {
  transform: scale(1.6);
  cursor: pointer;
}

.social-link:hover svg path,
.social-link:focus svg path {
  fill: var(--clr-bright-red);
}

.copyright-text {
  color: var(--clr-white);
  opacity: 0.5;
}

.attribution {
  margin-top: 2em;
  font-size: var(--fs-10);
  text-align: center;
  color: var(--clr-white);

  padding-bottom: 0.75em;
}
.attribution a {
  color: var(--clr-bright-red);
}

/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
